@use "./mixins" as mixin;
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1400px;
  padding: calc(100vh / 5) 20px 20px;
  min-height: 100vh;
  min-width: 100%;

  @include mixin.lg {
    padding-top: calc(100vh / 7);
  }
}
/*=============== ANIMATIONS ===============*/
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 0 88px rgba(255, 255, 255, 0);
  }
}
