/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1400px;
  padding: 20px 20px 0;
}
/*=============== ANIMATIONS ===============*/
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 0 88px rgba(255, 255, 255, 0);
  }
}
