<div class="home-background"></div>
<div class="home container">
  <div class="home-content">
    <h2 class="home-content-subtitle heading5">SO, YOU WANT TO TRAVEL TO</h2>
    <h1 class="home-content_title heading1">SPACE</h1>
    <p class="home-content_text description">
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>
  <div class="home-action">
    <button class="home-action_btn btn-primary pulse" routerLink="destination">
      EXPLORE
    </button>
  </div>
</div>
